# Dependencies
node_modules
.pnpm-store

# Next.js
.next
out

# Env / secrets
.env
.env.local
.env.*.local

# Prisma
prisma/dev.db
prisma/dev.db-journal
prisma/*.db
prisma/*.db-journal

# Test / coverage
coverage
*.log

# OS / IDE
.DS_Store
Thumbs.db
.idea
.vscode

# Misc
*.tsbuildinfo
next-env.d.ts
